<p>Now Playing: {{playingSong.title}}, Time left: {{timeLeft.min}}:{{timeLeft.sec}}</p>
<p>All Songs</p>
Search:<input ng-model="queryInput" ng-change=changeFilter() type="text"/>
<form name="querySelect" >
    <label>
        <input type="radio" ng-model="selectedFilter" value="all" ng-click=changeFilter()>
        All
    </label><br/>
    <label>
        <input type="radio" ng-model="selectedFilter" value="title" ng-click=changeFilter()>
        Title
    </label><br/>
    <label>
        <input type="radio" ng-model="selectedFilter" value="album" ng-click=changeFilter()>
        Album
    </label><br/>
    <label>
        <input type="radio" ng-model="selectedFilter" value="artist" ng-click=changeFilter()>
        Artist
    </label><br/>
</form>

<hr>
<table width="70%">
    <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Image</th>
        <th>Action</th>
    </tr>
    <tr ng-repeat="song in filteredSongs">
        <td>{{song.title}}</td>
        <td>{{song.artist}}</td>
        <td>{{song.album}}</td>
        <td><img ng-src="{{song.image.thumbnailPath}}" width="50"></td>
        <td> <a href="" ng-click="addSongToQueue(song.id)">add to Queue</a></td>
    </tr>
</table>