<form name="myForm">
    <fieldset>
        <legend>Select a song</legend>
        Song: <input type="file" ng-model="songFile" name="song" accept="audio/*" onchange="angular.element(this).scope().setSong(this)"  />
        <br>
        <button ng-disabled="!songValid"  ng-click="startUpload()">Upload</button>
        <span class="progress" ng-show="songUpload.progress >= 0">
                  <div style="width:{{songUpload.progress}}%" ng-bind="songUpload.progress + '%'" class="ng-binding"></div>
                <md-progress-linear  md-mode="determinate" value="{{songUpload.progress}}"></md-progress-linear>
              </span>
        <div ng-show="songUpload.result">
            <p>Processing Song...</p>
            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        </div>
    </fieldset>
    <br>
</form>